<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link data-require="bootstrap-css@3.3.4" data-semver="3.3.4" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="style.css"/>
  <script src="script.js"></script>
</head>
<input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">

<body>
    <div ng-app="main" ng-controller="formCtrl" class="container">
        <form class="well input-form">
            <div class="form-group has-success has-feedback">
                <label class="control-input" for="exampleInputEmail1">Email address</label>
                <input type="email" ng-model="data.email" class="form-control" id="exampleInputEmail1"/>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" ng-model="data.password" class="form-control" id="exampleInputPassword1"/>
            </div>
        </form>
        <p>{{data}}</p>
    </div>

</body>
</html>
